@import '../../../styles.scss';

:host {
    
    header {
        min-height: 61px;
        box-sizing: border-box;
    }
    > * {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        padding-inline: 10px;
    
        background-color: $clrPrimary;
        color: $clr2;
    }
    .main-header {
        .logo h1 {
            font-family: HelveticaNeueBd, helvetica;
            font-size: rem(18px)
        }
    
        .actions {
            >* {
                padding-inline-end: 18px;
            }
        }
    }
}