@import '../../../styles.scss';

:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-inline: 10px;

    height: 50px;

    background-color: $clrPrimary;
    color: $clr2;

    .logo h1 {
        font-family: HelveticaNeueBd, helvetica;;
    }

    .actions {
        > * {
            padding-inline-end: 18px;
        }
    }
}