<section class="chats-list" #scrollBottom>
    <article 
        class="chat"
        *ngFor="let msg of contact.msgs | filterMsg:filter; index as i"
        [ngClass]="{scrollTo: i === (contact.msgs.length - 1 - unread)}"
    >
        <p [ngClass]="{me: msg.from === 'user', contact: msg.from !== 'user'}">
            {{ msg.msg }}
        </p>
        <article class="day-separator" *ngIf="isPassedDay(msg.timestamp, i)">
            {{msg.timestamp | date:'dd MMM'}}
        </article>
    </article>
</section>