@import '../../../styles.scss';

:host {

}

.chats-list {
    >*:not(:first-child) {
        margin-block-start: 5px;
        margin-inline: 5px;
    }

    > *:first-child{
        padding-block-start: 65px;
        margin-inline: 5px;
    }

    > *:last-child {
        padding-block-end: 61px;
    }

    .me {
        text-align: right;
        padding: 5px;
        background-color: $clrSecondaryLight;
        color: $clr-2;
        width: max-content;
        border-radius: 5px;
        margin-inline-start: auto;
    }

    .contact,
    .day-separator {
        text-align: left;
        padding: 5px;
        background-color: $clr2;
        color: $clr-2;
        width: max-content;
        border-radius: 5px;
    }

    .day-separator {
        margin-block: 15px;
        text-align: center;
        margin-inline: auto auto;
    }
}