<header class="contact-header">
    <section class="left">
        <label for="search">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input class="search-input" type="text" pInputText placeholder="Search" [(ngModel)]="searchVal" (ngModelChange)="setFilter($event)" />
            </span>
        </label>
    </section>
    <section class="right">
        <div class="contact-details">
            <h3>{{ (contact.id.value.includes('E')) ? contact.phone : contact.name.first + ' ' +contact.name.last}}</h3>
            <p>Connected</p>
        </div>
        <div class="back" (click)="goBack()">
            <img [src]="contact.picture.thumbnail">
            <i class="bi bi-arrow-right"></i>
        </div>
    </section>
</header>
