<header class="contact-header">
    <section class="left">
        <label for="search">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <i class="pi pi-times"></i>
                <i class="pi pi-check"></i>
                <i class="pi pi-angle-double-down"></i>
                
                <input type="text" pInputText placeholder="Search" [(ngModel)]="searchVal" />
            </span>
        </label>
    </section>
    <section class="right">
        <div class="contact-details">
            <h3>{{ (contact.id.value.includes('E')) ? contact.phone : contact.name.first + ' ' +contact.name.last}}</h3>
            <p>connected</p>
        </div>
        <div class="back">
            <img [src]="contact.picture.thumbnail">
            <i class="bi bi-arrow-right"></i>
        </div>
    </section>
</header>