<article class="chat-preview" 
    (mousedown)="selectContact(contact.id.value)" 
    (mouseup)="resetSelection()"
    (touchstart)="selectContact(contact.id.value)"
    (touchend)="resetSelection()"
    (touchend)="resetSelection()"
>
    <div class="contact-img">
        <img [src]="contact.picture.thumbnail" alt="">
        <i class="bi bi-check"></i>
    </div>
    <div class="chat-details">
        <div class="chat-header">
            <h3 class="contact-name">{{contact.name.first}} {{contact.name.last}}</h3>
            <p class="time" [ngStyle]="{color: contact.state !== '' ? '#21BF65' : '#575757'}">
                {{ contact.msgs[0].timestamp | date:getDatePipe(contact.msgs[0].timestamp).pipe}}
                {{ getDatePipe(contact.msgs[0].timestamp).additional}}
            </p>
        </div>
        <div class="chat-footer">
            <p class="last-messege">{{contact.msgs[contact.msgs.length - 1].msg}}</p>
            <div class="chat-additional-data">
                <div [ngSwitch]="contact.state">
                    <i *ngSwitchCase="'pin'" class="bi bi-pin-angle-fill"></i>
                    <i *ngSwitchCase="'mute'" class="bi bi-volume-mute-fill"></i>
                </div>
                <p *ngIf="contact.unread !== 0" class="unread-msgs-count">
                    {{contact.unread}}
                </p>
            </div>
        </div>


    </div>

</article>
