:host {
    background-image: url('../../../assets/img/peakpx.jpg');
    background-position: top;
    background-origin: border-box;
    background-repeat: repeat-y;
    background-size: 100% auto;
    display: block;
    min-height: calc(100vh - 57px);
}